/* CSS declarations go here */

#loading_container{
	width:100%;
	height:100%;
	position: fixed;
	display: block;
	background: #4d6663;
	z-index: 99;
	text-align: center;
}


.loader {
	display: block;
    width: 40px;
    height: 40px;
    position: relative;
    border: 4px solid #a08771;
    top: 50%;
    animation: loader 2s infinite ease;
    margin: 0 auto;
}

.loader-inner {
  vertical-align: top;
  display: inline-block;
  width: 100%;
  background-color: #a08771;
  animation: loader-inner 2s infinite ease-in;
}

@keyframes loader {
  0% {
    transform: rotate(0deg);
  }
  
  25% {
    transform: rotate(180deg);
  }
  
  50% {
    transform: rotate(180deg);
  }
  
  75% {
    transform: rotate(360deg);
  }
  
  100% {
    transform: rotate(360deg);
  }
}

@keyframes loader-inner {
  0% {
    height: 0%;
  }
  
  25% {
    height: 0%;
  }
  
  50% {
    height: 100%;
  }
  
  75% {
    height: 100%;
  }
  
  100% {
    height: 0%;
  }
}


/*Elements expand to the size of their container. To have a div in the body that has a height of 100%; html & body are 100%*/
html {
   height:100%;
   overflow:auto;
}

body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-y:hidden;

background: #4d6663; /* Old browsers */
background: -moz-linear-gradient(top,  #4d6663 0%, #808378 27%, #a08771 76%, #8c6249 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#4d6663), color-stop(27%,#808378), color-stop(76%,#a08771), color-stop(100%,#8c6249)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #4d6663 0%,#808378 27%,#a08771 76%,#8c6249 100%); /* Chrome10+,Safari5.1+ */
}

#loading_modal{
	top:150px;
	margin-left:15px;
	overflow:hidden;
}

#title{
	font-family: 'Lato', sans-serif;
	font-size:38px;
	font-weight:100;
	width:100%;
	margin-top:30px;
	margin-bottom:45px;
	text-align:center;
	color:white;
}

.brand{
	font-family: 'Lato', sans-serif;
    font-weight: 100;
    text-align: center;
    color: white;
    position: relative;
    display: block;
    top: 53%;
    margin: 0 auto;
}


#search-group{
		width: 90%;
        height:40px; 
        margin-left:auto;
        margin-right:auto;
        margin-top:20px;
        margin-bottom:35px;
        display:block;
}


#left{
	width:88%;
	height:100%;
	float:left;
}

.input-button{
	width: 12%;
	height:100%;
	float:right;
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 769px) { 
	#search-group{
		width:650px;		
	}
	.input-button{
		width: 7%;
	}
	#left{
		width: 93%;
	}

}

#query{
	font-size:1.3em;
	border-radius: 8px 0 0 8px;
	height:100%;
}



#search-button{
	border-radius: 0 8px 8px 0;
	width:100%;
	height:100%;
}


.absolute_center{
	width:3em; /*Must be the same width as the icon*/

	margin-left: auto;
	margin-right: auto;
}

.absolute_center2{
	width:1.5em; /*Must be the same width as the icon*/

	margin-left: auto;
	margin-right: auto;
	display:none;
}

#play{
	cursor:pointer;
	width:100%;
	display:inline-block;
	font-size:2em;
	text-align:center;
}

#close{
	position:absolute;
	top:90px;
	font-size:2em;
}

#close_player{
	cursor:pointer;
	color:white;
}

#player{
	width:50%;
	height:79%;
	margin-top:20px;
	float:left;
	position:relative;
}

#ytplayer{

}

.my_hide{
	transform: translateX(-9999px);
	-ms-transform: translateX(-9999px); /* IE 9 */
	-webkit-transform: translateX(-9999px); 
	position:fixed !important;
	opacity:0;
}

#player-list_container{
	width:100%;
	height:100%;
	opacity:1;
}

#navigation{
	width: 50%;
	max-height: 80%;
	overflow-y:auto;
	float:right;
	position:relative;
}


#playlist{

	margin-left:8px; /*To center the list under the search_bar*/
	list-style-type: none;
	line-height:40px;
	/*Centering the playlist, and bringing it up a bit... Make this neater!*/
	display:block;
	position:relative;
}

#playlist_container{	
	/*Scrollbar*/
	margin-left: auto;
	margin-right: auto;
	
	padding-right:5px;
	
	/*
	width:40%;
	*/
	width:550px;

	height: 55%;

	overflow-y: auto;
	position:relative;
}

.tape_image{
	background-image: url("http://i.imgur.com/LssXcec.jpg?1");
    	background-repeat: no-repeat;
	background-size:45% 45%;
}

.control_buttons{
	border-radius:5px;
	color:white;
	background-color: rgba(255, 255, 255, 0.31);
}

@media all and (max-width: 800px) {
	#button_control{
		background:green !important;
		line-height:50px;
		/*For the icons*/
		text-align:center;

		/*So there's space between the list and the buttons:*/
		margin-top:10px; /*10px???*/
		/*For the container*/
		margin-left:auto;
		margin-right:auto;
		width:50%;
	}
}

@media not all and (max-width: 800px) {
	#button_control{
		line-height:50px;
		/*For the icons*/
		text-align:center;

		/*So there's space between the list and the buttons:*/
		margin-top:20px;
		/*For the container*/
		margin-left:auto;
		margin-right:auto;
		width:30%;
	}
}


#share{
	cursor:pointer;
	height:46px;
	width:13%;
	font-family: 'Open Sans', sans-serif;
	float:left;
	width:40%;	
}

#share_icon{
	font-size:1.4em;
}

#generate_button{
	cursor:pointer;
	height:46px;
	width:13%;
	float:right;
	width:40%;
}

#start_icon{
	font-size:1.4em;
}

#share_link{
	cursor:text;
	margin-left:auto;
	margin-right:auto;
	text-align: center;
	font-size:1.5em;
	height:50px;
	width:65.6%;
}

.thumbnail{
	width:200px;
}

.list_element {
	color:white;
	width:94%; /*Where the destroy button will fall*/
	left:0;
}

.list_icons{
	font-size:20px;
}

.next_song{
    z-index:99;
    cursor: pointer;
    color:white;
    opacity:0;

    right: 20px;
    height:40px;
    padding:3px;
    display:block;
    position: absolute;
}

.hide_song{
    z-index:99;
    cursor: pointer;
    color:white;
    opacity:0;

    right: 20px;
    height:40px;
    padding:3px;
    display:none !important;
    position: absolute;
}


.destroy {
    cursor: pointer;
    color:white;
    opacity:0;

    right:0;
    height:40px;
    padding:3px;
    display:block;
    position: absolute;
}

.list_element:hover .destroy{
    opacity:1;	

}

.list_element:hover .next_song{
    opacity:1;
}

/* In case you want to switch back to the icon.
.list_element:hover .destroy {
    background: url('/destroy.png') no-repeat 0 0;
}
.list_element:hover .next_song{
    background: url('/destroy.png') no-repeat 0 0;
}
*/

#navigation_list{
    width:95%;
    margin-left:5%;
    list-style:none;	
    position:relative;
}

.list_element:hover{
    cursor:pointer;
}

.unremovable{
	width:85% !important;/*Override list-element*/
	color:white;
}

.unremovable:hover{
	/*LOL The padding causes a cool 3D like effect.*/
	padding:5px;
	border-radius:5px;
	background:rgba(0,0,0,0.36);
	color:white;
}

.unremovable:hover .element_style{
	border:none;
}

.current_song{
	text-shadow: 0 0 0.2em rgba(82, 168, 236, 0.8);
}

.nav_song{
	width:97%;
}

.loop_activate{
	top:0;
	right:0;
	position: absolute;
}

.loop_activate i{
	font-size:1em;
}

/*Class while dragging*/
.ui-sortable-helper{
    border-top: 1px solid rgba(255, 255, 255, 0.18);		
}

.element_style{
    width:98%;
    line-height:40px;
    font-family: 'Lato';

    font-weight: 300;
    font-size:18px;

    /*Order at the bottom*/
    border-bottom: 1px solid rgba(255, 255, 255, 0.18);	
    position:relative;
}

#playlist-alert{
	padding-top: 5px;
	padding-bottom: 5px;
	position: fixed;

	width: 300px;
	left: 50%;
	margin-left: -150px;
	display:none;
	/*http://stackoverflow.com/questions/3157372/css-horizontal-centering-of-a-fixed-div*/
}

