/* CSS declarations go here */

/*Elements expand to the size of their container. To have a div in the body that has a height of 100%; html & body are 100%*/
html {
   height:100%;
   overflow:auto;
}

body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-y:hidden;

background: #4d6663; /* Old browsers */
background: -moz-linear-gradient(top,  #4d6663 0%, #808378 27%, #a08771 76%, #8c6249 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#4d6663), color-stop(27%,#808378), color-stop(76%,#a08771), color-stop(100%,#8c6249)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #4d6663 0%,#808378 27%,#a08771 76%,#8c6249 100%); /* Chrome10+,Safari5.1+ */
}

#loading_modal{
	top:150px;
	margin-left:15px;

}

#title{
	font-family: 'Lato', sans-serif;
	font-size:38px;
	font-weight:100;
	width:100%;
	margin-top:30px;
	margin-bottom:45px;
	text-align:center;
	color:white;
}


#search-group{
        width:650px;   
	height:40px; 
        margin-left:auto;
        margin-right:auto;
        margin-top:20px;
        margin-bottom:35px;
        display:block;
}

#left{
	width:93%;
	height:100%;
	float:left;
}

#query{
	font-size:1.3em;
	border-radius: 8px 0 0 8px;
	height:100%;
}

.input-button{
	width:7%;
	height:100%;
	float:right;
}

#search-button{
	border-radius: 0 8px 8px 0;
	width:100%;
	height:100%;
}


.absolute_center{
	width:3em; /*Must be the same width as the icon*/

	margin-left: auto;
	margin-right: auto;
}

.absolute_center2{
	width:1.5em; /*Must be the same width as the icon*/

	margin-left: auto;
	margin-right: auto;
	display:none;
}

#play{
	cursor:pointer;
	width:100%;
	display:inline-block;
	font-size:2em;
	text-align:center;
}

#close{
	position:absolute;
	top:90px;
	font-size:1.5em;
}

#close_player{
	cursor:pointer;
	color:white;
}

#player{
	width:50%;
	height:79%;
	margin-top:20px;
}

#ytplayer{

}

#navigation{
	top:0;
	right:0;
	margin-top:125px;
	width: calc(90% - 640px);
	max-height: 400px;
	overflow-y:auto;
	display:none;
	position:absolute;
}


#playlist{
	list-style-type: none;
	line-height:40px;
	/*Centering the playlist, and bringing it up a bit... Make this neater!*/
	display:block;
	position:relative;
}

#playlist_container{	
	/*Scrollbar*/
	margin-left: auto;
	margin-right: auto;
	
	padding-right:5px;
	
	/*
	width:40%;
	*/
	width:550px;

	height: 55%;

	overflow-y: auto;
}

.tape_image{
	background-image: url("http://i.imgur.com/LssXcec.jpg?1");
    	background-repeat: no-repeat;
	background-size:45% 45%;
}

.control_buttons{
	border-radius:5px;
	color:white;
	background-color: rgba(255, 255, 255, 0.31);
}

@media all and (max-width: 800px) {
#button_control{
	background:green !important;
	line-height:50px;
	/*For the icons*/
	text-align:center;
	/*For the container*/
	margin-left:auto;
	margin-right:auto;
	width:50%;
}
}

@media not all and (max-width: 800px) {
#button_control{
	line-height:50px;
	/*For the icons*/
	text-align:center;
	/*For the container*/
	margin-left:auto;
	margin-right:auto;
	width:30%;
}
}


#share{
	cursor:pointer;
	height:46px;
	width:13%;
	font-family: 'Open Sans', sans-serif;
	float:left;
	width:40%;	
}

#share_icon{
	font-size:1.4em;
}

#generate_button{
	cursor:pointer;
	height:46px;
	width:13%;
	float:right;
	width:40%;
}

#start_icon{
	font-size:1.4em;
}

#share_link{
	cursor:text;
	margin-left:auto;
	margin-right:auto;
	font-size:24px;
	height:50px;
	width:60%;
}

.thumbnail{
	width:200px;
}

.list_element {
	width:94%; /*Where the destroy button will fall*/
	left:0;
}

.list_icons{
	font-size:20px;
}

.next_song{
    cursor: pointer;
    color:white;

   right: 20px;
   height:7%;

    opacity:0;
    display:block;
    position: absolute;
}

.destroy {
    cursor: pointer;
    color:white;

    right:0;
   height:7%;
/*  opacity:0.6;*/
    padding:1px;

    opacity:0;
    display:block;
    position: absolute;
}

.list_element:hover .destroy{
    opacity:1;	

}

.list_element:hover .next_song{
    opacity:1;
}

/*
.list_element:hover .destroy {
    background: url('/destroy.png') no-repeat 0 0;
}
.list_element:hover .next_song{
    background: url('/destroy.png') no-repeat 0 0;
}
*/

#navigation_list{
    list-style:none;	
}

.list_element:hover{
    cursor:pointer;
}


.unremovable{
	width:85% !important;/*Override list-element*/
	color:white !important;
}

.unremovable:hover{
	/*LOL The padding causes a cool 3D like effect.*/
	padding:5px;
	border-radius:5px;
	background:rgba(0,0,0,0.36);
	color:white;
}

.loop_activate{
	position: absolute;
	margin-left: 74%;
	/*Shit alignment below.*/
	margin-top: -43px;
}

.element_style{
    width:97%;

    line-height:40px;

    color:white;
    /*Change Ubuntu font. Need something plain, but retro, with character. Like Museo 100*/
    font-family: 'Lato';
    font-weight: 300;

    font-size:18px;

    /*Order at the bottom*/
    border-bottom: 1px solid rgba(255, 255, 255, 0.18);	
}

.unremovable *:hover{
	/*Make that shit transparent*/
	border-bottom: 1px solid rgba(0, 0, 0, 0) !important;
}


