/* CSS declarations go here */
#item-list .link .destroy {
    cursor: pointer;
    position: absolute;
    left: 5px;
    top: 15px;
    height: 20px;
    width: 20px;
}
#item-list .link:hover .destroy {
    background: url('/destroy.png') no-repeat 0 0;
}

#item-list .link .destroy:hover {
    background-position: 0 -20px;
}